div {
    background-color: #d3d3d3;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#lessonProducts {
    align-items: center;
    padding-bottom: 20px;
    
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
}

figure {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button { 
    background-color: #92acee;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
 } 

button:hover {
    background-color: #537ca4;
}

.checkOutButton {
    display: flex;
    justify-content: end;
    margin-right: 15px;
    padding-top: 10px;
}

button:disabled {
    background-color: #cccccc;
}
