div {
    background-color: #afafaf;
    padding: 20px;
    border-radius: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
}
