div {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
}

figure {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
